/* Font and Variables Properties */
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

:root {
  --bg-color: #fff;
  --darker-bg-color: #eeeeee;
  --text-color: #18181b;
  --table-row-color: #fefefe;
  --table-bg-color: #fafafa;
}

#theme-toggle:checked ~ .content {
  --bg-color: #1d232a;
  --darker-bg-color: #15191e;
  --text-color: #fff;
  --table-row-color: #22272d;
  --table-bg-color: #252a30;
}

/* Reset Properties */
*:not(i) {
  /* not(i) allows us not to affect fontawesome icons which disappear when font-family is changed */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
}

/* Theme Toggle Properties */
#theme-toggle {
  display: none;
}

#toggle-img {
  width: 35px;
  height: 35px;
}

/* Layout Properties */
.content {
  background-color: var(--bg-color);
  min-height: 100vh;
}

main {
  color: var(--text-color);
  max-width: 80%;
  margin: 0 auto;
  padding: 80px 0 40px;
}

#home-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 0;
}

/* Navigation Properties */
nav {
  position: fixed;
  width: 100%;
  padding: 20px;
  background-color: var(--darker-bg-color);
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

.page-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.nav-links {
  text-decoration: none;
  color: var(--text-color);
}

.nav-links.active {
  color: #f43098;
  border-bottom: 2px solid #f43098;
}

/* Typography Properties */
#home-header {
  font-size: 3rem;
}

.main-heading {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  margin-top: 4rem;
}

.sub-heading {
  font-size: 2rem;
  margin: 3rem 0 1rem;
}

/* Button Properties */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.purple-btn,
.green-btn {
  padding: 0.8rem 1rem;
  border-radius: 7px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.purple-btn {
  background-color: #605dff;
}
.green-btn {
  background-color: #00d3bb;
  color: #084d49;
}

/* Cards and Paragraphs Properties */
.paragraph-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.paragraph-card {
  margin-bottom: 1rem;
  line-height: 1.5rem;
  padding: 20px;
  border-radius: 10px;
  border-left: 10px solid #605dff;
  background-color: var(--darker-bg-color);
}

.card {
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.card-collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* Table Properties */
.table-container {
  max-width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--table-bg-color);
}

th,
td {
  padding: 1rem;
  text-align: left;
}

th {
  background-color: var(--darker-bg-color);
}

tr:nth-of-type(2n) {
  background-color: var(--table-row-color);
}

/* Projects Properties */
.project-collection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.project-collection > li::marker {
  color: #00a8e7;
  font-size: 1.3rem;
}

.project-img {
  width: 100%;
  border-radius: 10px;
}

.tech-paragraph {
  margin: 1rem 0;
}

.project-description {
  list-style-type: disc;
}

#project-buttons {
  justify-content: flex-start;
}

/* Form Properties */
.form-input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  border: 1px solid #000;
  border-radius: 6px;
}

button[type="submit"] {
  width: 100%;
  border: none;
}

/* Social Cards Properties */
.social-cards {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.icons {
  font-size: 2rem;
}

.divider {
  margin: 3rem 0 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.social-card {
  text-decoration: none;
  color: inherit;
}

/* Media Query Properties for large screens */
@media (min-width: 768px) {
  nav ul {
    gap: 30px;
  }

  .nav-links,
  #toggle-label img {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .nav-links:hover,
  #toggle-label img:hover {
    transform: translateY(-3px);
    color: #f43098;
  }

  .green-btn,
  .purple-btn,
  .social-card {
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .green-btn:hover,
  .purple-btn:hover,
  .social-card:hover {
    transform: scale(1.04);
  }

  .paragraph-group {
    flex-direction: row;
  }
  .about-paragraph {
    width: 50%;
  }

  .card-collection {
    grid-template-columns: repeat(4, 1fr);
  }
  .project-collection {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }

  #home-paragraph {
    font-size: 1.1rem;
  }
  #home-header {
    font-size: 5.5rem;
  }
  #home-main {
    width: 40%;
  }

  button[type="submit"] {
    width: fit-content;
    cursor: pointer;
  }

  form {
    width: 600px;
    margin: 0 auto;
  }

  label {
    display: block;
    font-size: 1.2rem;
  }

  .icons {
    font-size: 3rem;
  }
  .social-cards {
    gap: 1rem;
  }
}

/* Printable CV Properties */
@media print {
  nav,
  .button-container,
  img,
  .social-cards {
    display: none;
  }

  body {
    background: #fff;
    color: #000;
  }

  main {
    max-width: 100%;
    width: auto;
  }
}
